@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Bungee&family=Poppins:ital,wght@0,400;0,800;1,100;1,200;1,400;1,500&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Bungee&family=Open+Sans:ital@1&family=Poppins:ital,wght@0,400;0,800;1,100;1,200;1,400;1,500&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Bungee&family=Poppins:ital,wght@0,400;0,800;1,100;1,200;1,400;1,500&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Bungee&family=Open+Sans:ital@1&family=Poppins:ital,wght@0,400;0,800;1,100;1,200;1,400;1,500&family=Roboto+Condensed:wght@300&display=swap");
.custom-loader {
  width: 45px;
  height: 50px;
  --c:linear-gradient(#000f 0 0);
  background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  background-size: 9px 100%;
  background-repeat: no-repeat;
  animation: b2 1s infinite linear;
  z-index: 9999999999999;
  margin-right: 5px;
}

.custom-loader-caract {
  background-color: #e9e41d;
  width: 100%;
  height: 100vh;
  z-index: 999999999999;
  position: fixed;
  top: 0;
  left: 0;
  clip-path: circle(150% at 100% 0);
  transition: clip-path 0.9s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-loader-caract2 {
  clip-path: circle(0% at 100% 0);
}

@keyframes b2 {
  20% {
    background-size: 9px 60%, 9px 100%, 9px 100%;
  }
  40% {
    background-size: 9px 80%, 9px 60%, 9px 100%;
  }
  60% {
    background-size: 9px 100%, 9px 80%, 9px 60%;
  }
  80% {
    background-size: 9px 100%, 9px 100%, 9px 80%;
  }
}
.main-logReg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  width: 100%;
  background-image: url(../images/img-banner-inicio/banner-inicio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container-login, .container-register {
  width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px black;
  height: auto;
}

.container-login .forms, .container-register .forms, .container-register .form-register {
  padding: 36px;
}

.forms .title-login, .forms .form-register .title-register, .form-register .forms .title-register, .container-register .form-register .title-login, .container-register .form-register .title-register {
  position: relative;
  font-family: "Poppins";
  font-size: 34px;
}

.forms .title-login::before, .forms .form-register .title-register::before, .form-register .forms .title-register::before, .container-register .form-register .title-login::before, .container-register .form-register .title-register::before {
  content: "";
  width: 35px;
  height: 5px;
  background: #e9e41d;
  position: absolute;
  top: 40px;
}

.forms .input-box, .container-register .form-register .input-box {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 50px;
}

.input-box .inputs {
  position: absolute;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #e9e41d;
  padding: 0 35px;
}

.input-box i {
  position: absolute;
  top: 35%;
  left: 0;
}

.forms .btn-cont, .container-register .form-register .btn-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-cont .btn {
  color: black;
  background-color: #e9e41d;
  font-family: "Poppins";
  font-weight: 800;
  border: 2px solid white;
  box-shadow: 2px 2px 4px white;
  padding: 20px;
}

.forms .pregCuenta, .container-register .form-register .pregCuenta {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
}

.container-register {
  top: 0;
  width: 800px;
}

.container-register .pregCuenta .btnForm {
  text-decoration: none;
  font-family: "Bungee";
  color: black;
  background-color: #e9e41d;
  border: 2px solid #e9e41d;
  padding: 5px;
  font-size: 12px;
  margin-left: 10px;
  border: 2px black solid;
  transition: all 0.5s;
}

.container-register .pregCuenta .btnForm:hover {
  background-color: #d2d03f;
}

.container-login .pregCuenta .btnForm, .container-register .pregCuenta .btnForm {
  text-decoration: none;
  font-family: "Bungee";
  color: black;
  background-color: #e9e41d;
  border: 2px solid #e9e41d;
  padding: 5px;
  font-size: 12px;
  margin-left: 10px;
  border: 2px black solid;
  transition: all 0.5s;
}

.container-login .pregCuenta .btnForm:hover, .container-register .pregCuenta .btnForm:hover {
  background-color: #d2d03f;
}

.form-register .error-reg, .form-register .succes-reg {
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "Poppins";
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
}

.error-reg .i, .form-register .succes-reg .i {
  font-size: 30px;
}

.form-register .succes-reg {
  background-color: greenyellow;
}

.error-log {
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "Poppins";
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
}

.error-log .i {
  font-size: 30px;
}

.hide {
  display: none;
}

* {
  padding: 0;
  margin: 0;
}

header .contAllMenuCarrito {
  gap: 50px;
}

header .contAllMenuCarrito .cont-carrito-header .carrito-comprar {
  color: #e9e41d;
}

header .contAllMenuCarrito .cont-carrito-header .contador-compra {
  left: 0px;
  bottom: -15px;
  background-color: white;
  font-family: "bungee";
  font-weight: 600;
  color: black;
  border: black 2px dashed;
  border-radius: 50px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

::selection {
  color: #e9e41d;
}

.home-inicio-concierto {
  background-image: url(../images/img-banner-inicio/banner-concierto.jpg);
}

.features-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.features-cont .features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Poppins";
}

.features .feature-title {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.features .feature-descrip {
  color: gray;
  width: 50%;
  height: auto;
}

.features-cont .features .featuresImg {
  width: 80px;
  height: 80px;
  color: red;
}

.all-cont-event {
  background-image: url(../images/img-banner-inicio/banner-inicio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.all-cont-event::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(233, 228, 29, 0.1);
  z-index: -2;
}

.all-cont-event .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cont-filtros {
  box-shadow: 2px 2px 10px black;
  border-radius: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 15px;
  background-color: white;
}

.cont-filtros .selector-musica .form-control {
  color: black;
  font-weight: 1000;
  font-family: "Poppins";
  border: 2px solid #e9e41d;
  box-shadow: none;
}

.cont-filtros .selector-pais .form-control {
  color: black;
  font-weight: 1000;
  font-family: "Poppins";
  border: 2px solid #e9e41d;
  box-shadow: none;
}

.cont-filtros .selector-pais .form-control option:hover {
  background-color: #e9e41d;
}

.cont-filtros .titulo-filtros {
  font-family: "Bungee";
  color: black;
  padding: 10px;
}

.titulo-filtros h3::before {
  content: "/";
  font-size: small;
  color: #e9e41d;
  margin-right: 10px;
}

.cont-filtros .row {
  padding-bottom: 40px;
}

.cont-filtros .row .allFiltrosCont {
  margin-bottom: 25px;
}

.cont-buttons .allFiltrosCont .button-value, .cont-buttons .allFiltrosCont .button-value-Pais {
  margin: 2px;
  border-radius: 35px;
  padding: 15px;
  border: 2px solid black;
  font-family: "Poppins";
  font-weight: 800;
  color: black;
  transition: all 0.9s;
  text-shadow: 2px 2px 12px black;
  cursor: pointer;
}

.cont-eventos {
  box-shadow: 2px 2px 10px black;
  background-color: white;
  padding: 20px;
  border-radius: 40px;
}

.cont-eventos .title-events {
  font-family: "Bungee";
  color: black;
  padding: 10px;
  padding-bottom: 25px;
}

.cont-eventos .title-events h3::before {
  content: "/";
  font-size: small;
  color: #e9e41d;
  margin-right: 10px;
  font-weight: 800;
}

.card {
  font-family: "Poppins";
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px dashed black;
}

.card .card-body .btn-primary {
  background-color: #e9e41d;
  border: 1px solid white;
  font-family: "Poppins";
  color: black;
  font-weight: 800;
  justify-content: center;
}

.card .card-body .btn-primary:hover {
  border: 1px solid black;
  color: #e9e41d;
  background-color: white;
}

.card .price-event {
  position: absolute;
  right: 0;
  background: white;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 10px 0 0 10px;
  border: 1px solid #e9e41d;
  font-weight: 600;
  top: 5px;
}

.card .pais-artist {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 5px;
  left: 5px;
  box-shadow: 2px 2px 10px #e9e41d;
}

.card .pais-artist img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.modal-contenedor {
  position: fixed;
  width: 45%;
  right: 0;
  background-color: white;
  height: 84vh;
  transform: translateX(850px);
  transition: all 0.6s ease-in-out;
  z-index: 9999;
  top: 130px;
  color: black;
  box-shadow: -12px 8px 30px 3px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: -12px 8px 30px 3px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -12px 8px 30px 3px rgba(0, 0, 0, 0.52);
  overflow: scroll;
}

.modal-contenedorAnimation {
  transform: translateX(0);
  display: block;
}

.modal-contenedor::-webkit-scrollbar {
  display: none;
}

.modal-contenedor .modal-title {
  background-color: #e9e41d;
  padding: 15px;
}

.modal-title h3 {
  font-family: "Poppins";
  font-weight: 800;
  text-align: center;
}

.modal-title h3::before {
  content: "/";
  font-size: small;
  margin-right: 5px;
}

.modal-title #carrito-cerrar {
  border: none;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  right: 0;
  right: 10px;
  position: absolute;
  top: 10px;
  background: none;
}

.modal-title #carrito-cerrar:hover {
  background-color: white;
}

.boton-salir-modal:hover {
  background-color: white;
  color: #e9e41d;
}

.modal-title #carrito-contenedor {
  background-color: white;
}

.entradas-in-carrito {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: 4px dashed #e9e41d;
  padding-bottom: 10px;
  padding-top: 20px;
  position: relative;
  border-left: 10px solid #f7f7b6;
  border-radius: 12px 0 12px 12px;
}

.entradas-in-carrito .body-info-modal {
  font-size: 15px;
  font-family: "Poppins";
}

.entradas-in-carrito .price-event-modal {
  font-family: "Poppins";
}

.entradas-in-carrito:hover {
  border-left: 10px solid #e9e41d;
}

.entradas-in-carrito .cont-img {
  height: 100px;
  width: 100px;
  border-radius: 20%;
  overflow: hidden;
}

.entradas-in-carrito .cont-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.entradas-in-carrito .btn-eliminar-entrada {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: large;
  background-color: red;
  border: 2px solid black;
  color: black;
  font-family: "Poppins";
}

.modal-contenedor .btn {
  color: black;
  background-color: #e9e41d;
  font-family: "Poppins";
  font-weight: 800;
  border: 2px solid white;
  box-shadow: 2px 2px 4px white;
}

.modal-contenedor #compra-carrito a {
  text-decoration: none;
  color: black;
}

.modal-contenedor .footerModal {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.modal-contenedor .footerModal .cont-producto-precio {
  border: 4px dashed #e9e41d;
  margin-top: 0;
  padding: 10px;
  font-family: "Poppins";
  font-size: 18px;
}

.ticketAgregado, .ticketEliminado {
  background: greenyellow;
  border: black 2px solid;
  color: black;
  border-radius: 40px;
  font-weight: 800;
  font-family: "Poppins";
}

.ticketEliminado {
  background: red;
}

.card-item {
  width: auto;
  height: auto;
}

.hide {
  display: none;
}

.nohide {
  display: block;
}

.active {
  background-color: #e9e41d;
  color: white;
}

@media (max-width: 1024px) {
  .features-cont {
    flex-direction: column;
  }
  .features-cont .features {
    margin-top: 40px;
  }
}
* {
  padding: 0;
  margin: 0;
}

.body-finalizar-compra {
  background: url(../images/img-banner-inicio/banner-inicio.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.position-relative {
  background: black;
}

.cont-main {
  display: flex;
  margin-bottom: 50px;
  padding: 15px;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 100%;
}

.paymentCont {
  margin-top: 50px;
  display: flex;
  height: auto;
}

.paymentCont .cont-payment {
  display: flex;
  flex-direction: column;
  width: 770px;
  height: 720px;
  margin: auto;
  padding: 40px 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  font-family: "Poppins";
  top: 0px;
  left: 0;
  right: 0;
  border-radius: 50px;
}

.cont-payment .titleFormPay {
  font-size: 24px;
  font-weight: 800;
}

.cont-payment label {
  font-size: 14px;
  font-weight: 400;
}

.cont-payment .payInputCont, .cont-payment #selector {
  padding: 8px;
  margin: 6px 0px;
  border: none;
  border-bottom: 2px solid #e9e41d;
}

.cont-payment .card-icon {
  display: flex;
  margin-right: 10px;
  justify-content: space-between;
  height: 50px;
}

.cont-payment .CheckOutPay {
  height: 40px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #e9e41d;
  color: black;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-weight: 800;
  margin-top: 10px;
}

.paymentCont .cont-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 120px;
}

.section-after-compra {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 900px;
  height: auto;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  border-radius: 50px;
  font-family: "Poppins";
  position: relative;
}

.section-after-compra .icono {
  font-size: 90px;
  color: green;
  overflow: hidden;
  top: 0;
}

.section-after-compra .after-btn-compra {
  height: 40px;
  width: 50%;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #e9e41d;
  color: black;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-weight: 800;
}

.section-after-compra .after-btn-compra a {
  text-decoration: none;
  color: black;
}

.section-after-compra .after-compra-text {
  font-size: 19px;
}

.section-after-compra .dataAResaltar {
  color: black;
  background-color: #e9e41d;
  border-radius: 10px;
  font-weight: 800;
}

.contCarritoPay {
  display: flex;
  flex-direction: column;
  background: white;
  margin-left: 65px;
  height: auto;
  padding: 20px 40px;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  font-family: "Poppins";
  border-radius: 50px;
  font-family: "Poppins";
}

.contCarritoPay .contCarrito .titleCont .tittleInfoPay {
  font-size: 22px;
  font-weight: 800;
}

.contCarritoPay .contTotalEntradas {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.contCarritoPay .boxTotal {
  position: relative;
  width: 100%;
  font-size: 20px;
  font-family: "Bungee";
  border-top: 2px solid #e9e41d;
  border-bottom: 2px solid #e9e41d;
  padding: 10px;
}

.hidepay {
  display: none;
}

.removehide {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: transparent;
  height: auto;
  width: 100%;
  position: fixed;
  border-top: rgb(233, 228, 29) 5px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
  padding: 40px 100px;
  transition: all 0.9s ease-in-out;
}

header.sticky {
  background-color: black;
  padding: 20px 100px;
}

header .menu {
  display: flex;
  width: auto;
  justify-content: flex-end;
}

header.sticky .menu .cont-secciones .secciones .secciones-link {
  color: white;
}

header .cont-logo figure img {
  height: 70px;
}

.cont-logo {
  width: auto;
}

.menu .cont-secciones {
  display: flex;
  list-style-type: none;
  gap: 25px;
}

.cont-secciones .secciones {
  font-size: 15px;
  font-weight: 600;
  font-family: "Poppins";
}

.secciones .secciones-link {
  text-decoration: none;
  color: white;
  position: relative;
}

.secciones-link::after {
  content: "";
  background: #e9e41d;
  width: 0%;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.cont-secciones .secciones-link:hover::after {
  width: 50%;
}

.menu .btn-menu {
  display: none;
}

.navAllCont {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  position: relative;
}

.cont-user:hover {
  transform: translateY(-1px);
}

#menu-btn-check {
  display: none;
}

.contUserOptions {
  background-color: #e9e41d;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 15px;
  font-family: "Poppins";
  color: black;
  border: 2px solid white;
  cursor: pointer;
  margin-left: 40px;
}

.home-inicio, .home-inicio-concierto {
  background: url(../images/img-banner-inicio/banner-inicio.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.home-inicio::before, .home-inicio-concierto::before {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}

.home-inicio .home-text, .home-inicio-concierto .home-text {
  line-height: 3.5rem;
  display: block;
  font-family: "Poppins";
  z-index: 1;
  margin: 0 45px;
}

.home-inicio .home-text .h1-text, .home-inicio-concierto .home-text .h1-text {
  font-size: 35px;
  color: white;
}

.home-text .span-text {
  font-size: 25px;
}

.home-inicio .home-text span, .home-inicio-concierto .home-text span {
  color: #e9e41d;
}

.home-text .cont-btn {
  position: relative;
}

.home-inicio .home-text .btn, .home-inicio-concierto .home-text .btn {
  text-decoration: none;
  font-family: "Bungee";
  color: #e9e41d;
  border: 1px solid #e9e41d;
  padding: 5px;
  margin-top: 20px;
  font-size: 16px;
}

.home-text .btn .flecha-btn {
  margin-left: 10px;
}

.home-text .btn:hover {
  color: white;
  border: 1px solid white;
}

.sobre-nosotros {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
  background-color: black;
  margin: 50px 0;
}

.sobre-nosotros .titulo-nosotros {
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}

.titulo-nosotros h2 {
  font-size: 40px;
  font-family: "Bungee";
  color: #e9e41d;
  padding: 10px;
}

.sobre-nosotros .text-nosotros {
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 2.5;
  font-family: "Poppins";
}

.sobre-nosotros .lema-cont {
  color: white;
  font-size: 20px;
  font-family: "Poppins";
  line-height: 2;
}

.artistas {
  flex-wrap: wrap;
  display: flex;
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.artistas .artistas-cont {
  background-color: #e9e41d;
  display: flex;
  border-radius: 10px 0 0 10px;
  flex-flow: column wrap;
  width: 100%;
}

.artistas .header-artistas {
  margin-top: 35px;
  padding: 12px 20px;
  text-align: center;
  width: 100%;
}

.artistas .header-artistas span {
  padding: 10px;
  font-size: 24px;
  font-family: "Bungee";
  color: black;
}

.artistas .header-artistas h2 {
  padding: 10px;
  font-size: 40px;
  font-family: "Bungee";
  color: white;
}

.artistas .cont-lista-artistas {
  padding-bottom: 32px;
  padding-top: 32px;
  width: 100%;
}

.artistas .cont-lista-artistas .cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-top: black 4px solid;
  border-bottom: black 4px solid;
  width: 100%;
}

.artistas .cont-lista-artistas .cards .card-artista {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  padding: 0;
  padding-right: 16px;
  display: block;
  transition: all 0.9s ease-in-out;
  margin-bottom: 25px;
  margin-top: 25px;
}

.card-artista:hover {
  transform: scale(1.1);
}

.card-artista .position-target {
  position: absolute;
  top: 10px;
  z-index: 2222222;
  left: 15px;
  border-radius: 4px;
  display: flex;
  color: #e9e41d;
  background-color: rgba(31, 31, 31, 0.8);
  padding: 5px;
  align-items: center;
  font-size: 15px;
}

.artistas .cont-lista-artistas .cards .card-artista .img-container {
  height: 150px;
  width: 150px;
  border-radius: 20%;
  overflow: hidden;
  position: relative;
}

.card-artista .img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-artista .img-container::before {
  background: linear-gradient(180deg, rgba(31, 31, 31, 0), #1f1f1f 90.76%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card-artista .contenido-container {
  position: absolute;
  z-index: 88882;
  bottom: 12px;
  left: 12px;
  color: white;
  font-family: "Poppins";
}

footer {
  width: 100%;
  background-color: black;
  color: #e9e41d;
  border-top: 4px solid #e9e41d;
  font-family: "bungee";
}

footer .cont-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  font-size: 15px;
  padding: 10px;
}

@media (min-width: 320px) and (max-width: 600px) {
  header .cont-logo figure a img {
    height: 50px;
  }
}
@media (min-width: 600px) and (max-width: 850px) {
  .sobre-nosotros .titulo-nosotros h2 {
    font-size: 30px;
  }
  .sobre-nosotros .text-nosotros p {
    font-size: 18px;
  }
  .sobre-nosotros .lema-cont h4 {
    font-size: 18px;
  }
  .artistas .header-artistas h2 {
    font-size: 30px;
  }
  .artistas .header-artistas span {
    font-size: 20px;
  }
  .testimonios .testimonios-header h2 {
    font-size: 30px;
  }
  .testimonios .testimonios-header span {
    font-size: 20px;
  }
}
@media (max-width: 1100px) {
  .menu {
    display: inline-block;
    position: relative;
  }
  .menu .cont-secciones {
    position: absolute;
    max-width: 300px;
    visibility: hidden;
    transition: all 250ms ease-in-out;
    transform: scaleY(0.1);
    transform-origin: top right;
    z-index: 999999999;
    background: black;
    list-style: none;
    right: 20px;
    top: 40px;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #e9e41d;
  }
  .menu .btn-menu {
    display: block;
    margin-right: 10px;
    font-size: 28px;
    color: #e9e41d;
  }
  .menu .cont-secciones .secciones-link {
    text-align: center;
    color: #e9e41d;
    width: 140px;
    display: block;
    font-size: 16px;
  }
  #menu-btn-check {
    display: none;
  }
  #menu-btn-check:checked + ul.cont-secciones {
    transform: scaleY(1);
    visibility: visible;
  }
}

/*# sourceMappingURL=styles.css.map */
