@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Bungee&family=Poppins:ital,wght@0,400;0,800;1,100;1,200;1,400;1,500&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Bungee&family=Open+Sans:ital@1&family=Poppins:ital,wght@0,400;0,800;1,100;1,200;1,400;1,500&family=Roboto+Condensed:wght@300&display=swap");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header .contAllMenuCarrito .cont-carrito-header .carrito-comprar{
    color: $color1;
}
header .contAllMenuCarrito .cont-carrito-header .contador-compra{
    left:0px;
    bottom:-15px ;
    background-color: white ; 
    font-family: 'bungee';
    font-weight: 600;
color: black;
border: black 2px dashed;
    border-radius:50px; 
padding:  3px;

}
::selection{
    color: $color1;
}

.home-inicio-concierto{
    
    background-image: url("../images/img-banner-inicio/banner-concierto.jpg")!important;
    
    @extend .home-inicio;
}





.features-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  
}

.features-cont .features{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Poppins';
}

.features .feature-title{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.features .feature-descrip{
    color: gray;
    width: 50%;
    height: auto;
}

.features-cont .features .featuresImg{
    width: 80px;
    height: 80px;
    color: red;
}
.all-cont-event{
    background-image: url(../images/img-banner-inicio/banner-inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    

}
.all-cont-event::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(233, 228, 29,0.1) ;
    z-index: -2;

}
.all-cont-event .container{
    padding: 20px 0 20px;
}

.cont-filtros{
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
    margin: 40px 0 40px;
    padding: 15px;
    background-color: white;
    
}

.cont-filtros .selector-musica .form-control{
    color: black;
    font-weight: 1000;
    font-family: 'Poppins';
    border: 2px solid $color1;
    box-shadow: none;
  
}

.cont-filtros .selector-pais .form-control {
    color: black;
    font-weight: 1000;
    font-family: 'Poppins';
    border: 2px solid $color1;
    box-shadow: none;
}


.cont-filtros .selector-pais .form-control option:hover{
    background-color: $color1;
}

.cont-filtros .titulo-filtros{
    font-family: 'Bungee';
    color: black;
    padding: 10px;
}

.titulo-filtros h3::before{
    content: "/";
    font-size: small;
    color: $color1;
    margin-right: 10px;
}

.cont-filtros .row {
    padding-bottom: 40px;
    width: 100%;
   
}

.cont-filtros .row .allFiltrosCont{
    margin-bottom: 25px;
  
}
.cont-buttons .allFiltrosCont .button-value{
    margin: 2px;
    border-radius: 35px;
    padding: 15px;

    border: 2px solid black;
    font-family: 'Poppins';
    font-weight: 800;
    color: black;
    transition: all 0.9s;
    text-shadow: 2px 2px 12px black;
    cursor: pointer;

}

.cont-buttons .allFiltrosCont .button-value-Pais{
    @extend .button-value;
}


.cont-eventos{
    box-shadow: 2px 2px 10px black;
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    
}

.cont-eventos .title-events{
    font-family: 'Bungee';
    color: black;
    padding: 10px;
}

.cont-eventos .title-events h3::before{
    content: "/";
    font-size: small;
    color: $color1;
    margin-right: 10px;
    font-weight: 800;
}
.card{
    font-family: 'Poppins';
    margin: 0 10px 0 10px;
    border: 2px dashed black;
}

.card .card-body .btn-primary{
    background-color: $color1;
    border: 1px solid white;
    font-family: 'Poppins';
    color: black;
    font-weight: 800;
    justify-content: center;
}

.card .card-body .btn-primary:hover{
    border: 1px solid $color1;
    color: black;
    background-color: white;
}

.card .price-event {
    position: absolute;
    right:0;
    background:white;
    padding:10px;
    font-family:'Poppins';
    border-radius: 10px 0 0 10px;
    border: 1px solid $color1;
    font-weight: 600;
    top: 5px;
    
}

.card .pais-artist{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 5px;
    left: 5px;
    box-shadow: 2px 2px 10px $color1;
}

.card .pais-artist img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.modal-contenedor{
position: fixed;
width: 100%;
max-width: 700px;
right: 0;
display: flex;
flex-direction: column;
background-color: white;
height: 84vh;
transform: translateX(850px);
transition: all 0.6s ease-in-out;
z-index: 9999;
top: 130px;
color: black;
visibility: hidden;
box-shadow: -12px 8px 30px 3px rgba(0,0,0,0.52);
-webkit-box-shadow: -12px 8px 30px 3px rgba(0,0,0,0.52);
-moz-box-shadow: -12px 8px 30px 3px rgba(0,0,0,0.52);
overflow: scroll;

}

.modal-contenedorAnimation{
    transform: translateX(0);
    visibility: visible;
    display: block;
}


.modal-contenedor::-webkit-scrollbar{
    display: none;
}



.modal-contenedor  .modal-title{
    background-color: $color1;
    padding: 15px;
}

.modal-title h3{
    font-family: 'Poppins';
    font-weight: 800;
    text-align: center;
  
}

.modal-title h3::before{
    content: "/";
    font-size: small;
    margin-right: 5px;
}

.modal-title #carrito-cerrar{
    border: none;
    font-size: 30px;
   
   padding: 0 10px 0 10px;

    border-radius: 50px;
    right: 0;
right: 10px;
    position: absolute;
    top: 10px;
    background:none;
}

.modal-title #carrito-cerrar:hover{
    background-color: white;

}

.boton-salir-modal:hover{
    background-color: white;
    color: $color1;
}

.modal-title #carrito-contenedor{
    background-color: white;
}


 .entradas-in-carrito{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 100%;
border-bottom: 4px dashed $color1;
padding: 20px 0 10px;
position: relative;
border-left: 10px solid #f7f7b6;
border-radius: 12px 0 12px 12px;
}

.entradas-in-carrito .body-info-modal{
    font-size: 15px;
    font-family: 'Poppins';
}
.entradas-in-carrito .price-event-modal{
    font-family: 'Poppins';
}
.entradas-in-carrito:hover{
    border-left: 10px solid $color1 ;
}

.entradas-in-carrito .cont-img{
    height: 100px;
width: 100px;
border-radius: 20%;
overflow: hidden;

}
.entradas-in-carrito .cont-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.entradas-in-carrito .btn-eliminar-entrada{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px;
    border-radius: 50px;
    padding:0 10px 0 10px ;
    font-size: large;
    background-color: red;
    border: 2px solid black;
    color: black;
    font-family: 'Poppins';
    
}



.modal-contenedor .btn{
    color: black;
    background-color: $color1;
    font-family: 'Poppins';
    font-weight: 800;
    border: 2px solid white;
    box-shadow: 2px 2px 4px white;
}

 .modal-contenedor  #compra-carrito a{
    text-decoration: none;
    color: black;
}

.modal-contenedor .footerModal{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.modal-contenedor .footerModal .cont-producto-precio{
    border: 4px dashed $color1;
    margin-top: 0;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 18px;
}

.ticketAgregado {
    background: greenyellow;
    border: black 2px solid;
    color: black;
    border-radius: 40px;

    font-weight: 800;
font-family: 'Poppins';
}

.ticketEliminado{
    background: red;
    @extend .ticketAgregado;
}

.card .favoriteArtist{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    padding: 5px;
}


 .star{
    color: white;
}

.starFavorite{
    color: goldenrod;
}


/// clases para usar en js

.card-item{
    width: auto;
    height: auto;
}

.hide{
    display: none;
    


}
.nohide{
    display: block;

}

.active{
    background-color: $color1;
    color: white;

}

@media (min-width: 320px) and (max-width: 600px) {

   .modal-contenedor{
    top: 110px;
   }
    }  


@media (max-width:1024px){
    .features-cont{
        flex-direction: column;
    }

  .features-cont .features{
    margin-top: 40px;
  }
}
