*{
    padding: 0;
    margin: 0;
}


.body-finalizar-compra{
    background: url(../images/img-banner-inicio/banner-inicio.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
background-repeat: no-repeat;

} 

.position-relative{
    background: black;
}
.cont-main{
    display: flex;
   margin-bottom: 50px;
    padding: 15px;
justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
}

.paymentCont{
    margin-top: 50px;
    display: flex;
    height: auto;

}

.paymentCont .cont-payment{
    display: flex;
    flex-direction: column;
    width: 770px;
    height: 690px;
    margin: auto;
    padding: 40px 50px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  font-family: 'Poppins';
  top: 0px;
  left: 0;
  right: 0;
  border-radius: 50px;

}

.cont-payment .titleFormPay{
    font-size: 24px;
font-weight: 800;
}
.cont-payment label{
    font-size: 14px;
    font-weight: 400;
}

.cont-payment .payInputCont{
    padding: 8px;
    margin: 6px 0px;
    border: none;
    border-bottom: 2px solid $color1;
}

.cont-payment .payInputCont::placeholder{
    color:#a3a3a3;
    font-weight: 400;
}

.cont-payment .card-icon{
   display: flex;
   margin-right: 10px;
   justify-content: space-between;
   height: 50px;
}

.cont-card-img .sm{
    width: 30%;
}

.cont-payment .CheckOutPay{
    height: 40px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: $color1;
  color: black;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-weight: 800;
}

.paymentCont .cont-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;

    
}

.section-after-compra{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    border-radius: 50px;
    font-family: 'Poppins';

    position: relative;
}

.section-after-compra .icono{
    font-size: 90px;
   color: green;
    overflow: hidden;

    top: 0;
}
 .section-after-compra .after-btn-compra {
    height: 40px;
    width: 50%;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: $color1;
  color: black;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-weight: 800;
  
}


.section-after-compra .after-btn-compra a{
    text-decoration: none;
    color: black;
}

.section-after-compra .after-compra-text{
    font-size: 19px;
}
.section-after-compra .dataAResaltar {
    color: black;
background-color: $color1;
border-radius: 10px;
font-weight: 800;

}

 .contCarritoPay{
  display: flex;
  flex-direction: column;
  background: white;
  margin-left: 65px;
  height:auto;
padding: 20px 40px;
-webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
background-color: white;
font-family: 'Poppins';

border-radius: 50px;
font-family: 'Poppins';
} 

.contCarritoPay .contCarrito .titleCont .tittleInfoPay{

        font-size:22px;
    font-weight: 800;
}


.contCarritoPay .contTotalEntradas{
text-align: center;
width: 100%;
margin: 0;
padding: 0;
}
.contCarritoPay .boxTotal{
    position: relative;
    width: 100%;
    font-size: 20px;
    font-family: 'Bungee';
    border-top: 2px solid $color1;
    border-bottom: 2px solid $color1;
    padding: 10px;
    
}





.hidepay{
    display:none;
}

.removehide{
    display: block;
}
