@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Bungee&family=Poppins:ital,wght@0,400;0,800;1,100;1,200;1,400;1,500&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Bungee&family=Open+Sans:ital@1&family=Poppins:ital,wght@0,400;0,800;1,100;1,200;1,400;1,500&family=Roboto+Condensed:wght@300&display=swap");

$color1 :  #e9e41d;
  .custom-loader{
    width:45px;
    height:50px;
    --c:linear-gradient(#000f 0 0);
    background: 
      var(--c) 0%   100%,
      var(--c) 50%  100%,
      var(--c) 100% 100%;
    background-size:9px 100%;
    background-repeat: no-repeat;
    animation:b2 1s infinite linear;
    z-index: 9999999999999;
    margin-right: 5px;
  }
  
  .custom-loader-caract{
    background-color: $color1;
    width: 100%;
    height: 100vh;
    z-index:999999999999;
    position: fixed;
    top: 0;
    left: 0;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.9s ease-in-out ;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  
  .custom-loader-caract2{
    clip-path: circle(0% at 100% 0);
  
  }
  
  @keyframes b2 {
      20% {background-size:9px 60% ,9px 100%,9px 100%}
      40% {background-size:9px 80% ,9px 60% ,9px 100%}
      60% {background-size:9px 100%,9px 80% ,9px 60% }
      80% {background-size:9px 100%,9px 100%,9px 80% }
  }

  .main-logReg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    width: 100%;
    background-image: url(../images/img-banner-inicio/banner-inicio.jpg);
    background-size: cover;
background-repeat: no-repeat;
}

  .container-login{

    width: 600px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 5px 10px black;
        height: auto;
        
    
    }
    
    .container-login .forms{
        padding: 36px;
    }
    
    .forms .title-login{
        position: relative;
        font-family: 'Poppins';
        font-size: 34px;
    }
    .forms .title-login::before{
        content: "";
        width: 35px;
        height: 5px;
        background: $color1;
        position: absolute;
        top: 40px;
    }
    
    .forms .input-box{
        margin-top: 20px;
        position: relative;
        width: 100%;
        height: 50px;
    }
    
    
    .input-box .inputs{
        position: absolute;
        height: 100%;
        width: 100%;
       outline: none;
       border: none;
        border-bottom: 2px solid $color1;
        padding: 0 35px;
    }
    
    .input-box i{
        position: absolute;
        top: 35%;
        left: 0;
    }
    
    .forms .btn-cont{
        display: flex;
        flex-direction: column;
       justify-content: center;
        height: 50px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .btn-cont .btn{
        color: black;
        background-color: $color1;
        font-family: 'Poppins';
        font-weight: 800;
        border: 2px solid white;
        box-shadow: 2px 2px 4px white;
        padding: 20px;
        
        
    }
    
    .forms .pregCuenta{
        display: flex;
        justify-content: center;
        font-family: 'Poppins'
    }
    
    
    .container-register{
        @extend .container-login;
        top: 0;
        width: 800px;
      
    
    }

    .container-register .pregCuenta .btnForm{
      text-decoration: none;
      font-family: "Bungee";
      color: black;
      background-color: $color1;
      border: 2px solid #e9e41d;
      padding: 5px;
      font-size: 12px;
      margin-left: 10px;
      border: 2px black solid;
      transition: all 0.5s;
    }


    .container-register .pregCuenta .btnForm:hover{
      background-color: #d2d03f

    }

    .container-login .pregCuenta .btnForm{
      text-decoration: none;
      font-family: "Bungee";
      color: black;
      background-color: $color1;
      border: 2px solid #e9e41d;
      padding: 5px;
      font-size: 12px;
      margin-left: 10px;
      border: 2px black solid;
      transition: all 0.5s;
      
    }

    .container-login .pregCuenta .btnForm:hover{
      background-color: #d2d03f
    }

    
    
    .container-register .form-register{
        @extend .forms;
    }
    
    .form-register .title-register{
        @extend .title-login;
    }
    
    .form-register .error-reg{
        background-color: red;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        font-family: 'Poppins';
        border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 16px;
    }
    
    .error-reg .i{
        font-size: 30px;
    }
    
    .form-register .succes-reg{
        @extend .error-reg;
        background-color: greenyellow;
    }
    
    
    .error-log{
        background-color: red;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        font-family: 'Poppins';
        border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 16px;
    
    
    }
    
    .error-log .i{
        font-size: 30px;
    }
    

    .hide{
      display: none;
    }

  @media (min-width: 320px) and (max-width: 600px) {
  header .cont-logo figure a img {
      height: 50px;
  }
  }  

@media (min-width: 600px) and (max-width: 850px) {
  .sobre-nosotros .titulo-nosotros h2 {
    font-size: 30px;
  }


  .sobre-nosotros .text-nosotros p {
    font-size: 18px;
  }

  .sobre-nosotros .lema-cont h4 {
    font-size: 18px;
  }

  .artistas .header-artistas h2 {
    font-size: 30px;
  }

  .artistas .header-artistas span {
    font-size: 20px;
  }

  .testimonios .testimonios-header h2 {
    font-size: 30px;
  }

  .testimonios .testimonios-header span {
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .menu {
    display: inline-block;
    position: relative;
  }

  .menu .cont-secciones {
    position: absolute;
    max-width: 300px;
    visibility: hidden;
    transition: all 250ms ease-in-out;
    transform: scaleY(0.1);
    transform-origin: top right;
    z-index: 999999999;
    background: black;
    list-style: none;
    right: 20px;
    top: 40px;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #e9e41d;
  }

  .menu .btn-menu {
    display: block;
    margin-right: 10px;
    font-size: 28px;
    color: #e9e41d;
  }
  .menu .cont-secciones .secciones-link {
    text-align: center;
    color: #e9e41d;
    width: 140px;
    display: block;
    font-size: 16px;
  }

  #menu-btn-check {
    display: none;
  }

  #menu-btn-check:checked + ul.cont-secciones {
    transform: scaleY(1);
    visibility: visible;
  }
}



@import "_conciertos.scss";
@import "_finalizarCompra.scss";
@import "_inicio.scss";
