@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Bungee&family=Poppins:ital,wght@0,400;0,800;1,100;1,200;1,400;1,500&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Bungee&family=Open+Sans:ital@1&family=Poppins:ital,wght@0,400;0,800;1,100;1,200;1,400;1,500&family=Roboto+Condensed:wght@300&display=swap");
$color1 :  #e9e41d;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  height: auto;
  width: 100%;
  position: fixed;
  border-top: rgb(233, 228, 29) 5px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 12;
}

header .menu {
  display: flex;
  width: auto;
  justify-content: flex-end;
}

header .cont-logo figure img {
  height: 70px;
}

.cont-logo {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: auto;
}

.menu .cont-secciones {
  display: flex;
  list-style-type:none;
  justify-content: flex-end;
}

.cont-secciones .secciones {
  padding: 0 20px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Poppins";
}

.secciones .secciones-link {
  text-decoration: none;
  color: white;
  position: relative;
}

.secciones-link::after {
  content: "";
  background: #e9e41d;
  width: 0%;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.cont-secciones .secciones-link:hover::after {
  width: 50%;
}

.menu .btn-menu{
    display: none;
}

#menu-btn-check{
    display: none;
}

.home-inicio {
  background: url(../images/img-banner-inicio/banner-inicio.jpg);
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.home-inicio::before {
  content: "";
  width: 100%;
  height: 90vh;
  background-color: rgb(0, 0, 0, 0.7);
  position: absolute;
}

.home-inicio .home-text {
  line-height: 3.5rem;
  display: block;
  font-family: "Poppins";
  

  z-index: 1;
  margin: 0 45px;
}

.home-inicio .home-text .h1-text {
  font-size: 35px;
  color: white;

}
.home-text .span-text{
  font-size: 25px;
}

.home-inicio .home-text span {
  color: #e9e41d;
}

.home-inicio .home-text .btn {
  text-decoration: none;
  font-family: "Bungee";
  color: #e9e41d;
  border: 1px solid #e9e41d;
  padding: 5px;
  margin-top: 20px;
  font-size: 16px;
}

.home-text .btn .flecha-btn {
  margin-left: 10px;
}

.home-text .btn:hover {
  color: white;
  border: 1px solid white;
}

.sobre-nosotros {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
  background-color: black;
  margin: 50px 0;
}

.sobre-nosotros .titulo-nosotros {
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}

.titulo-nosotros h2 {
  font-size: 40px;
  font-family: "Bungee";
  color: #e9e41d;
  padding: 10px;
}

.sobre-nosotros .text-nosotros {
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 2.5;

  font-family: "Poppins";
}

.sobre-nosotros .lema-cont {
  color: white;
  font-size: 20px;
  font-family: "Poppins";
  line-height: 2;
}

.testimonios {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  flex-wrap: wrap;
}

.testimonios-cont .testimonios-header {
  margin-top: 35px;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}
.testimonios-cont .testimonios-header h2 {
  font-size: 40px;
  font-family: "Bungee";
  color: #e9e41d;
  padding: 10px;
}

.testimonios-cont .testimonios-header span {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-family: "bungee";
}

.testimonios .testimonios-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  font-family: "Poppins";
  position: relative;
  background-color: black;
}

.testimonios-cont .box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonios-cont .box-testimonio {
  width: 500px;
  box-shadow: 2px 2px 20px black;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 15px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  height: auto;
}

.testimonios-cont .perfil-user .user-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonios-cont .perfil-user img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.box-testimonio .perfil-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.perfil-user .name-user {
  margin-left: 10px;
  margin-top: 10px;
}

.testimonios-cont .box-reseñas-stars {
  color: #e9e41d;
}

.artistas {
  flex-wrap: wrap;
  display: flex;
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.artistas .artistas-cont {
  background-color: #e9e41d;
  display: flex;
  border-radius: 10px 0 0 10px;
  flex-flow: column wrap;
  width: 100%;
}

.artistas .header-artistas {
  margin-top: 35px;
  padding: 12px 20px;
  text-align: center;
  width: 100%;
}

.artistas .header-artistas span {
  padding: 10px;
  font-size: 24px;
  font-family: "Bungee";
  color: black;
}

.artistas .header-artistas h2 {
  padding: 10px;
  font-size: 40px;
  font-family: "Bungee";
  color: white;
}

.artistas .cont-lista-artistas {
  padding-bottom: 32px;
  padding-top: 32px;
  width: 100%;
}

.artistas .cont-lista-artistas .cards {
  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  background-color: rgb(0, 0, 0, 0.7);
  border-top: black 4px solid;
  border-bottom: black 4px solid;
  width: 100%;
}

.artistas .cont-lista-artistas .cards .card-artista {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  padding: 0;
  padding-right: 16px;
  display: block;
  transition: all 0.9s ease-in-out;
  margin-bottom: 25px;
  margin-top: 25px;
}
.card-artista:hover {
  transform: scale(1.1);
}

.card-artista .position-target {
  position: absolute;
  top: 10px;
  z-index: 2222222;
  left: 15px;
  border-radius: 4px;
  display: flex;
  color: #e9e41d;
  background-color: rgba(31, 31, 31, 0.8);
  padding: 5px;
  align-items: center;
  font-size: 15px;
}

.artistas .cont-lista-artistas .cards .card-artista .img-container {
  height: 150px;
  width: 150px;
  border-radius: 20%;
  overflow: hidden;
  position: relative;
}

.card-artista .img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-artista .img-container::before {
  background: linear-gradient(180deg, rgba(31, 31, 31, 0), #1f1f1f 90.76%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card-artista .contenido-container {
  position: absolute;
  z-index: 88882;
  bottom: 12px;
  left: 12px;
  color: white;
  font-family: "Poppins";
}

footer {
  width: 100%;
  background-color: black;
  color: #e9e41d;
  border-top: 4px solid #e9e41d;
  font-family: "bungee";

}

footer .cont-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  font-size: 15px;
  padding: 10px;
}

.home-inicio .home-text {
    margin: 0;
    margin-left: 10px;
}
.home-inicio .home-text h1 {
    font-size: 25px;
}

  .home-text span {
    font-size: 18px;
  }

  .sobre-nosotros .titulo-nosotros h2 {
    font-size: 25px;
  }

  .sobre-nosotros .text-nosotros p {
    font-size: 16px;
  }

  .sobre-nosotros .lema-cont h4 {
    font-size: 18px;
  }

  .artistas .header-artistas h2 {
    font-size: 25px;
  }

  .artistas .header-artistas span {
    font-size: 18px;
  }

  .testimonios .testimonios-header h2 {
    font-size: 25px;
  }

  .testimonios .testimonios-header span {
    font-size: 18px;
  }

  .custom-loader{
    width:45px;
    height:50px;
    --c:linear-gradient(#000f 0 0);
    background: 
      var(--c) 0%   100%,
      var(--c) 50%  100%,
      var(--c) 100% 100%;
    background-size:9px 100%;
    background-repeat: no-repeat;
    animation:b2 1s infinite linear;
    z-index: 9999999999999;
    margin-right: 5px;
  }
  
  .custom-loader-caract{
    background-color: $color1;
    width: 100%;
    height: 100vh;
    z-index:999999999999;
    position: fixed;
    top: 0;
    left: 0;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.9s ease-in-out ;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  
  .custom-loader-caract2{
    clip-path: circle(0% at 100% 0);
  
  }
  
  @keyframes b2 {
      20% {background-size:9px 60% ,9px 100%,9px 100%}
      40% {background-size:9px 80% ,9px 60% ,9px 100%}
      60% {background-size:9px 100%,9px 80% ,9px 60% }
      80% {background-size:9px 100%,9px 100%,9px 80% }
  }

  @media (min-width: 320px) and (max-width: 600px) {
  header .cont-logo figure a img {
      height: 50px;
  }
  }  

@media (min-width: 600px) and (max-width: 850px) {
  .sobre-nosotros .titulo-nosotros h2 {
    font-size: 30px;
  }


  .sobre-nosotros .text-nosotros p {
    font-size: 18px;
  }

  .sobre-nosotros .lema-cont h4 {
    font-size: 18px;
  }

  .artistas .header-artistas h2 {
    font-size: 30px;
  }

  .artistas .header-artistas span {
    font-size: 20px;
  }

  .testimonios .testimonios-header h2 {
    font-size: 30px;
  }

  .testimonios .testimonios-header span {
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .menu {
    display: inline-block;
    position: relative;
  }

  .menu .cont-secciones {
    position: absolute;
    max-width: 300px;
    visibility: hidden;
    transition: all 250ms ease-in-out;
    transform: scaleY(0.1);
    transform-origin: top right;
    z-index: 999999999;
    background: black;
    list-style: none;
    right: 20px;
    top: 40px;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #e9e41d;
  }

  .menu .btn-menu {
    display: block;
    margin-right: 10px;
    font-size: 28px;
    color: #e9e41d;
  }
  .menu .cont-secciones .secciones-link {
    text-align: center;
    color: #e9e41d;
    width: 140px;
    display: block;
    font-size: 16px;
  }

  #menu-btn-check {
    display: none;
  }

  #menu-btn-check:checked + ul.cont-secciones {
    transform: scaleY(1);
    visibility: visible;
  }
}



@import "_conciertos.scss";
@import "_finalizarCompra.scss"
